# Dev (to be removed later)
lib/

# Other
samples/

# RMD shit
book_files
report_files
index_files
index_cache

# GM4
gm4/

# VS CODE
.vscode/

# PyCharm
.idea/

# Python
venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/
