.reveal section img {
    background:none;
    border:none;
    box-shadow:none;
}

div.twoCols {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.twoCols .left {
    float: left;
    width: 55%;
}

div.twoCols .right {
    float: right;
    width: 40%;
}

.img-row::after {
    content: "";
    clear: both;
    display: table;
}

img.full-img-slide, video {
    max-height: 90vh;
    height: 70vh;
    min-height: 50vh;
    width: auto;

    position: fixed;
    padding: 15px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}