.header {
	padding: 10px 16px;
	background-color: #eee;
	color: #f1f1f1;
	z-index: -1;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

#TOC {
	z-index: 9999;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.caption, figcaption {
	text-align: center;
}

span.katex {
	font-size: x-large;
	display: inline-block;
}

div.katexR {
	text-align: center;
}

div.twoCols {
	display: table-cell;
	vertical-align: middle;
}

div.twoCols .left {
	float: left;
	width: 45%;
}

div.twoCols .right {
	float: right;
	width: 45%;
}
